.hero{
    background:black;
    background-image:url(https://cdn1.ivivu.com/iVivu/2021/10/01/19/sixsenses-nvb-20211001-top-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center; 
    height:493px;
    object-fit: cover;
    display: flex;
    align-items: center;
}