@import "./policyshort";
@import "./policylong";

.roompolicy{
    &__header{
        color: #003C71;
        font-size: 16px;
        font-weight: bold;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
}